@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-paper-white text-ink-black overflow-x-hidden font-body;
  }
}

@layer components {
  .brutalist-card {
    border: 4px solid #000000;
    box-shadow: 6px 6px 0px 0px #000000;
    transition: all 0.15s ease-in-out;
  }
  .brutalist-card:hover {
    box-shadow: 2px 2px 0px 0px #000000;
    transform: translate(4px, 4px);
  }
  .brutalist-button {
    border: 4px solid #000000;
    box-shadow: 6px 6px 0px 0px #000000;
    transition: all 0.1s ease-in-out;
  }
  .brutalist-button:active {
    box-shadow: 0px 0px 0px 0px #000000;
    transform: translate(6px, 6px);
  }
  .brutalist-tag {
    border: 2px solid #000000;
    box-shadow: 3px 3px 0px 0px #000000;
  }
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  vertical-align: middle;
}
